ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  border-bottom: 1px solid lightgray;
}
li {
  float: left;
}

li a{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: lightgray;
}
.logout{
    background-color: lightgreen;
    float: right;
    margin-right: 10%;
    padding: 14px 20px;
}
.left{
    width: 5%;
    height: 100%;
    border: 1px solid black;
    background-color: lightgreen;
    
    
}