<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="/css/group.css">
        <title>Homepage</title>
    </head>
<body>

<ul>
  <li><a class="active" href="HOMEPAGE.html">Home</a></li>
  <li><a href = "/">Group</a></li>
  <li><a href="#Profile">Profile</a></li>
  <li><a href="#Setting">Settings</a></li>
  <li><a href="#Logout">Logout</a></li>
</ul>
    
</body>
</html>